body{
    width: 100%;
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 400px;
    height: 40px;
    border-radius: 
}